<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon"  href="/logo.jpg">
<link rel="stylesheet" href ="/home.css">
<script src="https://kit.fontawesome.com/c323173fb6.js"
	crossorigin="anonymous"></script>
<title>Material Inspection</title>


</head>


<body>

	<nav>
		<h1>
		<a href="/zettaInsp/home" style="color:white;text-decoration:none;">	<img src="../../../images/logo.png" alt="User Avatar">Zetta
			Material Inspection</a> 
		</h1>
		<div class="user-details">
			<i class="fa-regular fa-user"></i> <span th:text="${userName}">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/zettaInsp/logout" class="logout"> <i
				class="fa-solid fa-right-from-bracket"></i>
			</a>
		</div>
	</nav>

	<sid>
        <div class="dropdown">
            <span class="dropbtn">Vendor</span>
            <div class="dropdown-content">
            	 <a href="/zettaInsp/vendor">Vendor</a>
            	 <a href="/zettaInsp/addVendor/add">Add Vendor</a>
            	
                <a href="/zettaInsp/vendors">List of Vendors</a>
                <a href="#">Search Vendor</a>
                 
            </div>
        </div>
        <br>
         <div class="dropdown">
            <span class="dropbtn">Plant</span>
            <div class="dropdown-content">
            	 <a href="/zettaInsp/plant">Plant</a>
                <a href="/zettaInsp/addPlant">Add Plant</a>
                 <a href="/zettaInsp/plants">List of Plants</a>
                <a href="#">Search Plant</a>
            </div>
        </div>
        <br>
        <div class="dropdown">
            <span class="dropbtn">Material</span>
            <div class="dropdown-content">
            	 <a href="/zettaInsp/material">Material</a>
                <a href="/zettaInsp/addMaterial/add">Add Material</a>
                 <a href="/zettaInsp/materials">List of materials</a>
                <a href="/zettaInsp/searchMaterial">Search material</a>
               
            </div>
        </div>
        
         <div class="dropdown">
            <span class="dropbtn">Inspection Lot</span>
            <div class="dropdown-content">
            	 <a href="/zettaInsp/inspLot">Inspection Lot</a>
                <a href="/zettaInsp/addInspLot">Add Lot Details</a>
                 <a href="/zettaInsp/inspection">Inspection Home</a>
                 <a href="/zettaInsp/insplots">Inspection Not Started</a>
                   <a href="/zettaInsp/Allinsplots">All Inspection Lots</a>
                <a href="/zettaInsp/inspProgress">Inspection Progress</a>
                <a href="/zettaInsp/inspcompleted">Inspection Completed</a>
                  <a href="/zettaInsp/searchbylotid">Search By LotId</a>
                <a href="/zettaInsp/search">Search Lot</a>
                
            </div>
        </div>
       
        
    </sid>
	

	<div class="content">

		<div class="boxes-container">
			<a href="/zettaInsp/vendor">Vendor</a> <a href="/zettaInsp/plant">Plant</a> <a
				href="/zettaInsp/material">Material</a> <a href="/zettaInsp/inspLot">Inspection Lot</a>
		</div>
		
	</div>

</body>
</html>
